<div class="container">
    <div class="form">
        <div class="card left">
            <div class="logo"></div>
            <h1>TiBA</h1>
        </div>
        <div class="card right" *ngIf="emailInput">
            <b><p style="font-family: sans-serif; font-size: 20px;">Reset password</p></b>
            <small style="font-family: sans-serif;color: red;" *ngIf="errorMsg!=''">{{errorMsg}}</small>
            <div class="input-container">
                <input type="text" placeholder="" ngModel #email="ngModel">
                <label>Email</label>
                
            </div>
            <button type="submit" (click)="onSubmit('email', email.value)">submit</button>
            <div class="loader" *ngIf="showloader">
                <div class="loader-container"></div>
                Loading . . .
            </div>
            
            
        </div>
        <div class="card right" *ngIf="codeInput">
            <div class="success" [ngClass]="{'success-alert':success}">
                <p>Password changed successfully!</p>
            </div>
            <b><p style="font-family: sans-serif;">OTP has been send to your email</p></b>
            <small style="color: red;font-family: sans-serif;" *ngIf="OTPError!=''">{{OTPError}}</small>
            <small style="color: red;font-family: sans-serif;" *ngIf="passMatchErr">Passwords do not match</small>
            <div class="input-container" [ngClass]="{'OTPerr':OTPError!=''}">
                <input type="number" placeholder="" [formControl]="OTPInput">
                <label>OTP</label>
                
            </div>
            <div class="input-container" [ngClass]="{'pass-err':passMatchErr}">
                <input type="password" id="pass" placeholder="" [formControl]="passInput">
                
                <label>Password</label>
                <i class="fa fa-eye-slash" (click)="showPassword('pass')" *ngIf="!showeye"></i>
                <i class="fa fa-eye" (click)="showPassword('pass')" *ngIf="showeye"></i>
            </div>
            <div class="input-container"[ngClass]="{'pass-err':passMatchErr}">
                <input type="password" id="cpass" placeholder="" [formControl]="confirmPassInput">
                
                <label>Confirm Password</label>
                <i class="fa fa-eye-slash" (click)="showPassword('cpass')" *ngIf="!cshoweye"></i>
                <i class="fa fa-eye" (click)="showPassword('cpass')" *ngIf="cshoweye"></i>
            </div>

            <button type="submit" (click)="onSubmit('reset')">submit</button>

            <div class="loader" *ngIf="showloader">
                <div class="loader-container"></div>
                Loading . . .
            </div>
            
            
        </div>
        
    </div>
    
</div>