<div class="container">
    <div class="cards">
            <div class="card">
                <h1>+{{usersCount}}</h1>
                <p>Users</p>
            </div>
            <div class="card">
                <h1>+{{doctorsCount}}</h1>
                <p>Doctors</p>
                
            </div>
            <div class="card">
                <h1>+{{nusrsesCount}}</h1>
                <p>Nurses</p>
            </div>
            <div class="card">
                <h1>+{{labTechsCount}}</h1>
                <p>Lab Techs</p>
            </div>
    </div>
    <div class="search">
        <form>
            <mat-form-field class="input">
                <input type="text" matInput [matAutocomplete]="auto" [formControl]="searchControl" placeholder="Search staff.."/>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let staff of filteredStaff |async" [value]="staff.firstName">
                        {{staff.firstName}}
                    </mat-option>
                </mat-autocomplete>
                <button (click)="filterHospitals()" type="button" class="searchBtn">search</button>
            </mat-form-field>
        </form>
        <label for="">Filter: </label>
        <select [(ngModel)]="filterOption">
            <option value="All">All</option>
            <option value="Doctor">Doctors</option>
            <option value="Nurse">Nurses</option>
            <option value="Lab_Tech">Lab Techs</option>
        </select>
    </div>

    <div class="staff-table-container">
        <table>
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Job</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
                <ng-container *ngFor="let staff of staff;index as i">
                    <ng-container *ngIf="filterOption==='All' || staff.roles.toLocaleLowerCase().includes(filterOption.toLocaleLowerCase())">
                        <ng-container *ngIf="searchedStaff==='' || staff.hospitalName.toLocaleLowerCase().includes(searchedStaff.toLocaleLowerCase())">
                            <tr>
                                <td>
                                    {{i+1}}
                                </td>
                                <td>
                                    {{staff.firstName}}
                                </td>
                                <td>
                                    {{staff.roles}}
                                </td>
                                <td>
                                    {{staff.phoneNumber}}
                                </td>
                                <td>
                                    
                                    <button class="delete" (click)="deleteStaff(staff.idNumber)">Delete</button>
                                </td>
                            </tr>
                        </ng-container>
                        
                    </ng-container>
                    
                </ng-container>

            </tbody>
        </table>
        <div class="delete-staff-container" *ngIf="deleteUserAlert">
            <div style="text-align: center; width: fit-content;height: fit-content;color: white;">
                <p>This action is irreversible. Do you wish to continue?</p>
                <button style="background-color: lightgreen;color: white;">Cancel</button>
                <button style="background-color: orange;color: white;" (click)="_deleteStaff()">Continue</button>
            </div>
            
        </div>
    </div>
</div>
